In [128]:
import pandas as pd
import numpy as np

In [129]:
df= pd.read_csv('Fortune500.csv')
df

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
0,1,Walmart,2300000,Retailing,General Merchandisers,Bentonville,C. Douglas McMillon,"President, Chief Executive Officer & Director",485873,0.8,13643.0,-7.2,198825
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),Omaha,Warren E. Buffett,Chairman & Chief Executive Officer,223604,6.1,24074.0,0,620854
2,3,Apple,116000,Technology,"Computers, Office Equipment",Cupertino,Timothy D. Cook,Chief Executive Officer & Director,215639,-7.7,45687.0,-14.4,321686
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,Irving,Darren W. Woods,Chairman & Chief Executive Officer,205004,-16.7,7840.0,-51.5,330314
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,San Francisco,John H. Hammergren,"Chairman, President & Chief Executive Officer",192487,6.2,2258.0,53,56563
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,Irving,Carl S. Rubin,Chairman & Chief Executive Officer,5197,5.8,378.2,4.2,2148
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,Horsham,Douglas C. Yearley Jr.,Chief Executive Officer & Director,5170,23.9,382.1,5.2,9737
497,498,Yahoo,8500,Technology,Internet Services and Retailing,Sunnyvale,Marissa A. Mayer,"President, Chief Executive Officer & Director",5169,4.0,-214.3,5.2,48083
498,499,Vistra Energy,4431,Energy,Energy,Dallas,Curtis A. Morgan,"President, Chief Executive Officer & Director",5164,4.0,-214.3,5.2,15167
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,New York,Scott B. Salmirs,"President, Chief Executive Officer & Director",5145,-2.8,57.2,-25,2281

In [130]:
#head use for 5 upper dataset
df.head()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
0,1,Walmart,2300000,Retailing,General Merchandisers,Bentonville,C. Douglas McMillon,"President, Chief Executive Officer & Director",485873,0.8,13643.0,-7.2,198825
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),Omaha,Warren E. Buffett,Chairman & Chief Executive Officer,223604,6.1,24074.0,0,620854
2,3,Apple,116000,Technology,"Computers, Office Equipment",Cupertino,Timothy D. Cook,Chief Executive Officer & Director,215639,-7.7,45687.0,-14.4,321686
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,Irving,Darren W. Woods,Chairman & Chief Executive Officer,205004,-16.7,7840.0,-51.5,330314
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,San Francisco,John H. Hammergren,"Chairman, President & Chief Executive Officer",192487,6.2,2258.0,53,56563

In [131]:
#tail use for last 5 dataset
df.tail()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,Irving,Carl S. Rubin,Chairman & Chief Executive Officer,5197,5.8,378.2,4.2,2148
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,Horsham,Douglas C. Yearley Jr.,Chief Executive Officer & Director,5170,23.9,382.1,5.2,9737
497,498,Yahoo,8500,Technology,Internet Services and Retailing,Sunnyvale,Marissa A. Mayer,"President, Chief Executive Officer & Director",5169,4.0,-214.3,5.2,48083
498,499,Vistra Energy,4431,Energy,Energy,Dallas,Curtis A. Morgan,"President, Chief Executive Officer & Director",5164,4.0,-214.3,5.2,15167
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,New York,Scott B. Salmirs,"President, Chief Executive Officer & Director",5145,-2.8,57.2,-25,2281

In [132]:
# if we need 7 so on bracket
df.head(7)

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
0,1,Walmart,2300000,Retailing,General Merchandisers,Bentonville,C. Douglas McMillon,"President, Chief Executive Officer & Director",485873,0.8,13643.0,-7.2,198825
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),Omaha,Warren E. Buffett,Chairman & Chief Executive Officer,223604,6.1,24074.0,0,620854
2,3,Apple,116000,Technology,"Computers, Office Equipment",Cupertino,Timothy D. Cook,Chief Executive Officer & Director,215639,-7.7,45687.0,-14.4,321686
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,Irving,Darren W. Woods,Chairman & Chief Executive Officer,205004,-16.7,7840.0,-51.5,330314
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,San Francisco,John H. Hammergren,"Chairman, President & Chief Executive Officer",192487,6.2,2258.0,53,56563
5,6,UnitedHealth Group,230000,Health Care,Health Care: Insurance and Managed Care,Minnetonka,Stephen J. Hemsley,Chief Executive Officer & Director,184840,17.7,7017.0,20.7,122810
6,7,CVS Health,204000,Health Care,Health Care: Pharmacy and Other Services,Woonsocket,Larry J. Merlo,"President, Chief Executive Officer & Director",177526,15.8,5317.0,1.5,94462

In [133]:
#dimension
df.shape

(500, 13)

In [134]:
# information of dta 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        500 non-null    int64
 1   Title       500 non-null    object
 2   Employees   500 non-null    int64
 3   Sector      500 non-null    object
 4   Industry    500 non-null    object
 5   Hqcity      500 non-null    object
 6   Ceo         500 non-null    object
 7   Ceo-title   500 non-null    object
 8   Revenues    500 non-null    int64
 9   Revchange   500 non-null    float64
 10  Profits     500 non-null    float64
 11  Prftchange  500 non-null    object
 12  Assets      500 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 50.9+ KB

In [135]:
#float for decimal no.
#int for number
  #  object for titles
    #      in stats we use 2 int and float

In [136]:
sub_df=df[['Rank','Title','Employees','Sector','Revenues','Profits']]
sub_df.head()

   Rank               Title  Employees       Sector  Revenues  Profits
0     1             Walmart    2300000    Retailing    485873  13643.0
1     2  Berkshire Hathaway     367700   Financials    223604  24074.0
2     3               Apple     116000   Technology    215639  45687.0
3     4         Exxon Mobil      72700       Energy    205004   7840.0
4     5            McKesson      68000  Wholesalers    192487   2258.0

In [137]:
d3=df['Title']
d3.head()

0               Walmart
1    Berkshire Hathaway
2                 Apple
3           Exxon Mobil
4              McKesson
Name: Title, dtype: object

In [138]:
sub_df.describe()

             Rank     Employees       Revenues       Profits
count  500.000000  5.000000e+02     500.000000    500.000000
mean   250.492000  5.635013e+04   24111.748000   1779.479800
std    144.477366  1.234520e+05   38337.353337   3937.558721
min      1.000000  8.300000e+01    5145.000000  -6177.000000
25%    125.750000  1.190000e+04    7245.000000    235.725000
50%    250.500000  2.500000e+04   11384.000000    683.600000
75%    375.250000  5.682525e+04   22605.250000   1770.775000
max    500.000000  2.300000e+06  485873.000000  45687.000000

In [139]:
mean=sub_df['Profits'].mean()
mean

1779.4797999999998

In [140]:
# both work mean or print mean
print (mean)

1779.4797999999998

In [141]:
median=sub_df['Profits'].median()
median

683.6

In [142]:
print (median)

683.6

In [143]:
mode=sub_df['Profits'].mode()
mode

0    -214.3
1     324.0
2     382.1
3     396.0
4     734.0
5    1768.0
Name: Profits, dtype: float64

In [144]:
print(mode)

0    -214.3
1     324.0
2     382.1
3     396.0
4     734.0
5    1768.0
Name: Profits, dtype: float64

In [145]:
mode2=sub_df['Revenues'].mode()
mode2

0    9061
Name: Revenues, dtype: int64

In [146]:
l=sub_df['Profits'].max()
l

45687.0

In [147]:
s=sub_df['Profits'].min()
s

-6177.0

In [148]:
range=l-s
range

51864.0

In [149]:
r=sub_df['Profits'].max()-sub_df['Profits'].min()
r

51864.0

In [150]:
#quartile percentile 
#q1=p25  0.25
#q2=p50 0.5
#q3=p75  0.75

In [151]:
#quantile
q1=sub_df['Profits'].quantile(0.25)
q1

235.725

In [152]:
#37th percentile.quantile(0.37)
p37=sub_df['Profits'].quantile(0.37)
p37

432.063

In [153]:
q3=sub_df['Profits'].quantile(0.75)
q3

1770.775

In [154]:
iqr=q3-q1
iqr

1535.0500000000002

In [155]:
sd=sub_df['Profits'].std()
sd

3937.558720894575

In [156]:
iqr2=sub_df['Profits'].quantile(0.75)-sub_df['Profits'].quantile(0.25)
iqr2

1535.0500000000002

In [157]:
#calculate the co-efficient of variation for the 'profits' column.

In [158]:
cv=sd/mean*100
cv

221.2758313353473

In [159]:
#skewness

In [160]:
skewness=3*(sub_df['Profits'].median()-sub_df['Profits'].mean())/100.
skewness

-32.87639399999999

In [161]:
skew=sub_df['Profits'].skew()
skew

4.910176826618978

In [162]:
# any 5 sample data
sub_df.sample(5)

,Rank,Title,Employees,Sector,Revenues,Profits
152,153,Hartford Financial Services Group,16900,Financials,18300,896.0
292,293,Fidelity National Financial,55219,Financials,9554,650.0
406,407,J.B. Hunt Transport Services,22190,Transportation,6556,432.1
365,366,Quest Diagnostics,43000,Health Care,7515,645.0
467,468,NetApp,12030,Technology,5546,229.0

In [163]:
# rows %
sub_df.sample(frac=0.01)

,Rank,Title,Employees,Sector,Revenues,Profits
84,85,Publix Super Markets,191000,Food & Drug Stores,34274,2025.7
233,234,Consolidated Edison,14960,Energy,12075,1245.0
329,330,Live Nation Entertainment,11500,Media,8355,2.9
82,83,United Continental Holdings,88000,Transportation,36556,2263.0
426,427,TreeHouse Foods,16027,"Food, Beverages & Tobacco",6175,-228.6

In [164]:
#select 70% of the data at random and calculate mean of its profits column
sub_df.sample(frac=0.7)['Profits'].mean()

2017.1891428571428

In [165]:
# or
df2=sub_df.sample(frac=0.01)
df2['Profits'].mean()

885.6

In [166]:
df3=sub_df.sample(frac=0.01,random_state=1)
df3['Profits'].mean()

1138.8200000000002

In [167]:
df2=sub_df.sample(frac=0.01,random_state=50)
df2['Profits'].mean()

-130.73999999999995

In [168]:
#select 60% random rows from the dataset and consider this as sample.calculate the mean of thissample with the raspect to profits column repeat the process 5 times
#compute the diff b/w the actual mean of the column and each sample mean separately.
df4=sub_df.sample(frac=0.6,random_state=4)
c=df4['Profits'].mean()
c

1709.9023333333334

In [169]:
df=sub_df.sample(frac=0.6,random_state=5)
a=df['Profits'].mean()
a

1787.744

In [170]:
df4=sub_df.sample(frac=0.6,random_state=8)
b=df4['Profits'].mean()
b

1654.462

In [171]:
df4=sub_df.sample(frac=0.6,random_state=6)
d=df4['Profits'].mean()
d

1595.0813333333333

In [172]:
df4=sub_df.sample(frac=0.6,random_state=9)
e=df4['Profits'].mean()
e

1941.498

In [173]:
mean=sub_df['Profits'].mean()
mean

1779.4797999999998

In [174]:
mean-a

-8.264200000000073

In [175]:
mean-b

125.01779999999985

In [176]:
mean-c

69.5774666666664

In [177]:
mean-d

184.39846666666654

In [178]:
mean-d

184.39846666666654

In [179]:
mean-e

-162.0182000000002

In [180]:
q1=sub_df['Revenues'].quantile(0.25)
q3=sub_df['Revenues'].quantile(0.75)
iqr=q3-q1
iqr=sub_df['Revenues'].quantile(0.75)-sub_df['Revenues'].quantile(0.25)

In [181]:
lower_bound=q1-1.5*iqr
upper_bound=q3+1.5*iqr
lower_bound

-15795.375

In [182]:
upper_bound

45645.625

In [183]:
outliers=sub_df[(sub_df['Revenues'] < lower_bound) |
                (sub_df['Revenues'] > upper_bound)]
print("outlier rows:")
print(outliers)

outlier rows:
    Rank                       Title  Employees          Sector  Revenues  \
0      1                     Walmart    2300000       Retailing    485873
1      2          Berkshire Hathaway     367700      Financials    223604
2      3                       Apple     116000      Technology    215639
3      4                 Exxon Mobil      72700          Energy    205004
4      5                    McKesson      68000     Wholesalers    192487
..   ...                         ...        ...             ...       ...
57    58                       FedEx     335767  Transportation     50365
58    59  Hewlett Packard Enterprise     195000      Technology     50123
59    60               Cisco Systems      73700      Technology     49247
60    61                          HP      49000      Technology     48238
61    62                Dow Chemical      56000       Chemicals     48158

    Profits
0   13643.0
1   24074.0
2   45687.0
3    7840.0
4    2258.0
..      ...
57   1820.0
58   3161.0
59  10739.0
60   2496.0
61   4318.0

[62 rows x 6 columns]

In [184]:
q1=sub_df['Profits'].quantile(0.25)
q3=sub_df['Profits'].quantile(0.75)
iqr=q3-q1
iqr=sub_df['Profits'].quantile(0.75)-sub_df['Profits'].quantile(0.25)

In [185]:
lower_bound=q1-1.5*iqr
upper_bound=q3+1.5*iqr
lower_bound

-2066.8500000000004

In [186]:
upper_bound

4073.3500000000004

In [187]:
outliers=sub_df[(sub_df['Profits'] < lower_bound) |
                (sub_df['Profits'] > upper_bound)]
print("outlier rows:")
print(outliers)

outlier rows:
     Rank                   Title  Employees       Sector  Revenues  Profits
0       1                 Walmart    2300000    Retailing    485873  13643.0
1       2      Berkshire Hathaway     367700   Financials    223604  24074.0
2       3                   Apple     116000   Technology    215639  45687.0
3       4             Exxon Mobil      72700       Energy    205004   7840.0
5       6      UnitedHealth Group     230000  Health Care    184840   7017.0
..    ...                     ...        ...          ...       ...      ...
284   285            Baker Hughes      33000       Energy      9841  -2738.0
309   310                    eBay      12600   Technology      8979   7266.0
342   343       Chesapeake Energy       3300       Energy      7872  -4401.0
343   344      Anadarko Petroleum       4500       Energy      7869  -3071.0
374   375  National Oilwell Varco      36384       Energy      7251  -2412.0

[68 rows x 6 columns]

In [194]:
df.head()

     Rank           Title  Employees              Sector  Revenues  Profits
241   242      First Data      24000   Business Services     11584    420.0
448   449  American Tower       4507  Telecommunications      5786    956.4
75     76  Morgan Stanley      55311          Financials     37949   5979.0
212   213           Loews      15800          Financials     13105    654.0
481   482        Chemours       7000           Chemicals      5400      7.0