In [4]:
#karl pearson -r  and spearmen rank correlation-R

In [5]:
import pandas as pd
import numpy as np

In [6]:
data = {
    'height':[150,160,165,170,175,180,185], #x
    'weight':[60,65,70,75,80,85,90] #y
}

In [7]:
df = pd.DataFrame(data)

In [8]:
df.head()

   height  weight
0     150      60
1     160      65
2     165      70
3     170      75
4     175      80

In [9]:
#correlation
#1 built in function
#2 manually

In [10]:
karl_corr = df['height'].corr(df['weight'])
karl_corr

0.9922858194799439

In [11]:
spear_corr =df['height'].corr(df['weight'],method ='spearman')
spear_corr

1.0

In [12]:
#manually
#add new coluumn

In [13]:
df['rank1'] = df['height'].rank()
df['rank2'] = df['weight'].rank()

df.head()

   height  weight  rank1  rank2
0     150      60    1.0    1.0
1     160      65    2.0    2.0
2     165      70    3.0    3.0
3     170      75    4.0    4.0
4     175      80    5.0    5.0

In [14]:
df['d']=df['rank1']-df['rank2']
df.head()

   height  weight  rank1  rank2    d
0     150      60    1.0    1.0  0.0
1     160      65    2.0    2.0  0.0
2     165      70    3.0    3.0  0.0
3     170      75    4.0    4.0  0.0
4     175      80    5.0    5.0  0.0

In [15]:
df['d2']=df['d']**2
df

   height  weight  rank1  rank2    d   d2
0     150      60    1.0    1.0  0.0  0.0
1     160      65    2.0    2.0  0.0  0.0
2     165      70    3.0    3.0  0.0  0.0
3     170      75    4.0    4.0  0.0  0.0
4     175      80    5.0    5.0  0.0  0.0
5     180      85    6.0    6.0  0.0  0.0
6     185      90    7.0    7.0  0.0  0.0

In [16]:
sum = df['d2'].sum()
sum

0.0

In [17]:
#find n easy
n=len(df)
n

7

In [18]:
R = 1-((6*sum)/(n**3-n))
R

1.0

In [19]:
#calculate mean and standard deviation of height and weight manually

In [21]:
meanh=df['height'].mean()
meanh

169.28571428571428

In [22]:
meanw=df['weight'].mean()
meanw

75.0

In [30]:
df["x"]=df["height"] - meanh
df["y"]=df["weight"] - meanw
df

   height  weight  rank1  rank2    d   d2          x     y
0     150      60    1.0    1.0  0.0  0.0 -19.285714 -15.0
1     160      65    2.0    2.0  0.0  0.0  -9.285714 -10.0
2     165      70    3.0    3.0  0.0  0.0  -4.285714  -5.0
3     170      75    4.0    4.0  0.0  0.0   0.714286   0.0
4     175      80    5.0    5.0  0.0  0.0   5.714286   5.0
5     180      85    6.0    6.0  0.0  0.0  10.714286  10.0
6     185      90    7.0    7.0  0.0  0.0  15.714286  15.0

In [31]:
df['xy']=df['x']*df['y']
df

   height  weight  rank1  rank2    d   d2          x     y          xy
0     150      60    1.0    1.0  0.0  0.0 -19.285714 -15.0  289.285714
1     160      65    2.0    2.0  0.0  0.0  -9.285714 -10.0   92.857143
2     165      70    3.0    3.0  0.0  0.0  -4.285714  -5.0   21.428571
3     170      75    4.0    4.0  0.0  0.0   0.714286   0.0    0.000000
4     175      80    5.0    5.0  0.0  0.0   5.714286   5.0   28.571429
5     180      85    6.0    6.0  0.0  0.0  10.714286  10.0  107.142857
6     185      90    7.0    7.0  0.0  0.0  15.714286  15.0  235.714286

In [32]:
df['x2']=df['x']**2
df['y2']=df['y']**2
df

,height,weight,rank1,rank2,d,d2,x,y,xy,x2,y2
0,150,60,1.0,1.0,0.0,0.0,-19.285714,-15.0,289.285714,371.938776,225.0
1,160,65,2.0,2.0,0.0,0.0,-9.285714,-10.0,92.857143,86.224490,100.0
2,165,70,3.0,3.0,0.0,0.0,-4.285714,-5.0,21.428571,18.367347,25.0
3,170,75,4.0,4.0,0.0,0.0,0.714286,0.0,0.000000,0.510204,0.0
4,175,80,5.0,5.0,0.0,0.0,5.714286,5.0,28.571429,32.653061,25.0
5,180,85,6.0,6.0,0.0,0.0,10.714286,10.0,107.142857,114.795918,100.0
6,185,90,7.0,7.0,0.0,0.0,15.714286,15.0,235.714286,246.938776,225.0

In [34]:
a=df['xy'].sum()
b=df['x2'].sum()
c=df['y2'].sum()

In [35]:
a

775.0

In [36]:
b

871.4285714285713

In [37]:
c

700.0